/*ajust jqmobi*/
#afui .panel{
	margin: 0px;
	padding: 0px;		
}
#afui .footer{
	margin: 0px;
	padding: 0px;	
	height:54px;	
}
#afui .footer.no{
	height: 0px;
	background-color: red;
}
#afui .afScrollPanel{
	background-color: #ebebeb;/*背景颜色 gc_b*/
}
/*sprcore ui------------------------------------------------------*/
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: left;

}
a,u{text-decoration:none;}
ul li{list-style-type:none;}
.clear{clear: both;}
 
 
.spr_header{
	background-color: #000000;
	color:#ffffff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;

}/*header div*/
.spr_header .spr_title,
.spr_header .spr_buttons
{
	background-color: #000000;
	position: absolute;
	top:16px;
}
.spr_header .spr_title{
	font-weight: bold;
	font-size: 17px;
	left: 16px;	
}
.spr_header .spr_title i{
	font-size: 20px;
	color:#ffffff;
	text-shadow: 0 1px 0 #999999 ;
	background-color: #000000;
}
.spr_header .spr_buttons{
	right: 20px;
}
.spr_header .spr_buttons i{
	font-size: 20px;
	padding-left: 35px;
	color:#ffffff;
	text-shadow: 0 1px 0 #999999 ;
	background-color: #000000;
}
.spr_body{
	background-color:#ebebeb;
}
.spr_footer{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #444;
    padding: 0;
    border-top: 1px solid #444;
    height:54px;
}


/*margin padding:li div u*/

.pa_h17{padding-left:17px;padding-right:17px;}
.pa_h6{padding-left:6px;padding-right:6px;}
.pa_h11{padding-left:11px;padding-right:11px;}
.pa_v7{padding-top:7px;padding-bottom:7px;}
.pa_v5{padding-top:5px;padding-bottom:5px;}
.pa_v12{padding-top:12px;padding-bottom:12px;}
.pa_t7{padding-top:7px;}
.pa_t5{padding-top:5px;}
.pa_t10{padding-top:10px;}
.pa_t10{padding-top:10px;}
.pa_r70{margin-right:70px}
.ma_l11{margin-left:11px}
.ma_r11{margin-right:11px}
.ma_h17{margin-left:17px;margin-right:17px;}

/*buttom line : li div*/	
.li_b1{border-bottom: 1px solid;}
.li_t1{border-top: 1px solid;}
.li_a1{border: 1px solid;}

/*zone height/width :div img*/
.he_119{height: 119px;}
.he_80{height: 80px;}
.he_64{height: 64px;}
.he_63{height: 63px;}
.he_60{height: 60px;}
.he_49{height: 49px;}
.he_47{height: 47px;}
.he_44{height: 44px;}
.he_37{height: 37px;}
.he_24{height: 24px;}
.he_20{height: 20px;}
.he_26{height: 26px;}
.he_0{height: 0px;}
.wi_276{width:276px;}
.wi_64{width:64px;}
.wi_49{width:49px;}
.wi_44{width:44px;}
.wi_37{width:37px;}
.wi_24{width:24px;}

.lh_24{line-height: 24px;}

/*font style:p u */
.h15{font-size: 15px;font-weight: bold;}
.p11{font-size: 11px;}
.p13{font-size: 13px;}
.p26{font-size: 26px;}

/*absolute:div; */
.ab_r12{right:12px;position: absolute;}
.ab_r7{right:7px;position: absolute;}
.ab_t12{top:12px;position: absolute;}
.ab_t7{top:7px;position: absolute;}
.ab_t2{top:2px;position: absolute;}
.ab_t11{top:11px;position: absolute;}
.ab_t13{top:13px;position: absolute;}
.ab_t15{top:15px;position: absolute;}
.ab_t20{top:20px;position: absolute;}
.ab_t45{top:45px;position: absolute;}
.ab_l50{left:50px;position: absolute;}
.ab_l12{left:12px;position: absolute;}
.ab_l16{left:16px;position: absolute;}
.ab_l25{left:25px;position: absolute;}
.ab_l65{left:65px;position: absolute;}
.ab_l93{left:93px;position: absolute;}
.ab_l105{left:105px;position: absolute;}


/*relative:div */
/*.re_t-2{top:-2px;position: relative;} */


/*color r*/
.gc_b{background-color:#ebebeb;}/*background color*/
.gc_f{background-color:#ffffff;}/*foreground color*/
.gc_b2{background-color:#d3d3d3;}/*background color 第一种背景色*/
.co_h{color:#336666;text-shadow: 0 1px 0 #b8b8b8 ;}
.co_p{color:#b5b5b5;text-shadow: 0 1px 0 #b5b5b5 ;}
.co_p2{color:#f7f7f7;text-shadow: 0 1px 0 #dfdfdf ;}
.co_pr{color:#45c01a;text-shadow: 0 1px 0 #bde7ae ;}
.bc_h{border-color:#336666;}
.bc_p{border-color:#CCCCCC;}


/*display*/
.di_i{display: inline}

.ra_5{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.center{text-align: center;}
/*horizontal 排列*/
ul.h li{float:left;}
ul.center li{text-align: center;}
ul.wi_s14 li{width:25%;}
/*div*/
.fl_l{float:left;} /*float*/
.po_r{position: relative;}
.spr_list li{position:relative;}

.budgets { 
	width: 19px; 
	height: 19px; 
	line-height: 19px;
	background: red; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px; 
	text-align: center;
	color:#ffffff;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 0 1px 0 #FF6666;
}
.no{display:none;}

/*app------------------------------------------------------*/


/*load UI*/
DIV.loadView-cont {
	Z-INDEX: 98;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	LEFT: 0px;
	WIDTH: 100%;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 100%
}
DIV.loadView-bg {
	Z-INDEX: -1;
	FILTER: alpha(opacity=70);
	LEFT: 0px;
	WIDTH: 100%;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 100%;
	BACKGROUND-COLOR: #666666;
	opacity: 0.7
}
DIV.loadView {
	BORDER-RIGHT: #555 1px solid;
	BORDER-TOP: #555 1px solid;
	Z-INDEX: 99;
	MARGIN-LEFT: auto;
	BORDER-LEFT: #555 1px solid;
	WIDTH: 30%;
	MARGIN-RIGHT: auto;
	BORDER-BOTTOM: #555 1px solid;
	POSITION: relative;
	TOP: 25%;
	BACKGROUND-COLOR: #fff
}